@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
html {
    background: rgb(99,143,255);
    background: linear-gradient(180deg, rgba(99,143,255,1) 0%, rgba(56,54,144,1) 100%);
    height: 100%;
}
.tabletests {
    border-spacing: 10px;
    margin: 90px;
}
  
@tailwind base;
@tailwind utilities;
@tailwind components;